matplotlib==3.9.0
nltk==3.9.1
numpy==1.26.0
opencv-python==4.10.0.84
pandas==2.1.1
scikit-learn==1.4.2
scipy==1.12.0
streamlit==1.38.0
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.18.0
tf_keras==2.17.0
urllib3==2.2.0
uvicorn==0.30.6
